# ----------------------------
# CORE
# ----------------------------
python-dotenv
openai
ipykernel
pandas
sentence-transformers

# ----------------------------
# LANGCHAIN ECOSYSTEM
# ----------------------------
langchain
langchain-core
langchain-community
langchain-openai
langchain-groq

# ----------------------------
# NVIDIA
# ----------------------------
langchain-nvidia-ai-endpoints

# ----------------------------
# OBSERVABILITY
# ----------------------------
langsmith
logfire[fastapi,requests]
loguru

# ----------------------------
# GUARDRAILS
# ----------------------------
nemoguardrails

# ----------------------------
# LLM GATEWAY
# ----------------------------
portkey-ai

# ----------------------------
# EVALUATION
# ----------------------------
ragas
deepeval
langfuse
langchain-google-vertexai